In [3]:
import pandas as pd
import os
#from openpyxl import Workbook
#from simplified_scrapy import SimplifiedDoc, utils

In [ ]:
"""
import os
files = []
for i in os.walk('./datasets'):
    files= i[2]
    
print(files)
"""

In [ ]:
"""
def readFile(filename):
    xml = utils.getFileContent(filename)
    doc = SimplifiedDoc(xml)
    tables = doc.selects('Worksheet').selects('Row').selects('Cell').text # Get all data
    sheetNames = doc.selects('Worksheet>ss:Name()') # Get sheet name
    return sheetNames,tables,filename.split('/')[2].split('.')[0]

def to_Excel(sheetNames,tables, filename):
    wb = Workbook() # Create Workbook
    for i in range(len(sheetNames)):
        worksheet = wb.create_sheet(sheetNames[i]) # Create sheet
        for row in tables[i]:
            worksheet.append(row)
    print('./datasets_excel/'+ filename + '.xlsx')
    wb.save('./datasets_excel/'+ filename + '.xlsx') # Save file
"""

In [ ]:
"""
for filename in (os.listdir("./datasets")):
        name = filename.split('.')[0]
        print(name)
        
        dst = name + ".xml"
        src ='./datasets/'+ filename
        dst ='./datasets/'+ dst
          
        # rename() function will
        # rename all the files
        os.rename(src, dst)
"""

In [ ]:
"""
for file in files:
    to_Excel(*readFile("./datasets/" + file))
"""

In [4]:
files = []
for i in os.walk('./datasets_excel/'):
    files=i[2]

workbooks = []
for file in files:
    workbooks.append(pd.read_excel('./datasets_excel/' + file, sheet_name=None))

In [5]:
workbooks[0].keys()

dict_keys(['Sheet', 'Profit Loss', 'Balance Sheet', 'Cash Flow', 'Per Share Statisticts', 'Revenue Expense', 'Sundry Analysis', 'Growth Rates', 'Ratio Analysis', 'Asset Base Analysis'])

In [6]:
pd.set_option('display.float_format', '{:.2f}'.format)
workbooks[0]['Profit Loss']

,ASX Code,Company Name,Item,12/14,06/15,06/16,06/17,06/18,06/19,06/20,06/21
0,ADH,Adairs Limited,Operating Revenue,--,210878000.00,253182000.00,264964000.00,314769000.00,344430000.00,388933000.00,499762000.00
1,ADH,Adairs Limited,Other Revenue,--,166000.00,406000.00,190000.00,0.00,270000.00,206000.00,143000.00
2,ADH,Adairs Limited,Total Revenue Excluding Interest,--,211044000.00,253588000.00,265154000.00,314769000.00,344700000.00,389139000.00,499905000.00
3,ADH,Adairs Limited,Operating Expenses,--,-188019000.00,-207574000.00,-228465000.00,-262677000.00,-293565000.00,-286986000.00,-348961000.00
4,ADH,Adairs Limited,EBITDA,0,23025000.00,46014000.00,36689000.00,52092000.00,51135000.00,102153000.00,150944000.00
5,ADH,Adairs Limited,Depreciation,--,-3858000.00,-4649000.00,-5164000.00,-5719000.00,-6394000.00,-38606000.00,-43213000.00
6,ADH,Adairs Limited,Amortisation,--,-728000.00,-617000.00,-713000.00,-1112000.00,-1295000.00,-712000.00,-1362000.00
7,ADH,Adairs Limited,Depreciation and Amortisation,--,-4586000.00,-5266000.00,-5877000.00,-6831000.00,-7689000.00,-39318000.00,-44575000.00
8,ADH,Adairs Limited,EBIT,0,18439000.00,40748000.00,30812000.00,45261000.00,43446000.00,62835000.00,106369000.00
9,ADH,Adairs Limited,Interest Revenue,--,445000.00,81000.00,55000.00,44000.00,77000.00,90000.00,31000.00
10,ADH,Adairs Limited,Interest Expense,--,-14267000.00,-2006000.00,-1946000.00,-1489000.00,-1237000.00,-6250000.00,-7457000.00
11,ADH,Adairs Limited,Net Interest Expense,--,-13822000.00,-1925000.00,-1891000.00,-1445000.00,-1160000.00,-6160000.00,-7426000.00
12,ADH,Adairs Limited,PreTax Profit,--,4617000.00,38823000.00,28921000.00,43816000.00,42286000.00,56675000.00,98943000.00
13,ADH,Adairs Limited,Tax Expense,0,-1675000.00,-11651000.00,-7904000.00,-13255000.00,-12643000.00,-17510000.00,-31548000.00
14,ADH,Adairs Limited,Net Profit after Tax Before Abnormals,0,2942000.00,27172000.00,21017000.00,30561000.00,29643000.00,39165000.00,67395000.00
15,ADH,Adairs Limited,Abnormals,0,0.00,0.00,0.00,0.00,0.00,-3884000.00,-3653000.00
16,ADH,Adairs Limited,Abnormals Tax,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,ADH,Adairs Limited,Net Abnormals,0,0.00,0.00,0.00,0.00,0.00,-3884000.00,-3653000.00
18,ADH,Adairs Limited,Reported NPAT After Abnormals,0,745000.00,27172000.00,21017000.00,30561000.00,29643000.00,35281000.00,63742000.00
19,ADH,Adairs Limited,Outside Equity Interests,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,ADH,Adairs Limited,Shares Outstanding at Period End,165874785,165875000.00,165875000.00,165875000.00,165875000.00,165875000.00,169077075.00,169077075.00
21,ADH,Adairs Limited,Weighted Average Number of Shares,0,151471000.00,165875000.00,165875000.00,165875000.00,165875000.00,167617000.00,169077000.00
22,ADH,Adairs Limited,EPS Adjusted (cents/share),0.00,1.94,16.38,12.67,18.30,17.87,22.98,38.59
23,ADH,Adairs Limited,EPS After Abnormals (cents/share),0.00,0.49,16.38,12.67,18.30,17.87,20.70,36.50